* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Inter", sans-serif;
}

:root {
  --def-width: 72vw;
  --def-smaller-col-width: 35%;
  --light-brown: #fffef2;
  --dark-brown: #967e66;
}

body {
  background: whitesmoke;
}

h2.logo {
  font-family: "Comfortaa", sans-serif;
  letter-spacing: -1.5px;
}
